@CHARSET "UTF-8";
/* external css file */

@import url("https://fonts.googleapis.com/css?family=Work+Sans");

* {
	font-family: Work Sans, sans-serif;
	color: #99154B;
	font-size: 16px;
	margin: 0;
	box-sizing: border-box;
}
img{
	height: 30px;
	width: 30px;
}

body {
	background-color: #FCE8F3;
	margin-top: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

thead {
	color: #99154B;
	font-size: 14px;
}
h2{
	margin-top: 1rem;
	margin-bottom: 1rem;
}
/*tbody {*/
/*	background: #fff url("images/bg_image_nav.jpg") bottom repeat-x;*/
/*}*/

tbody tr {
	height: 20px;
	padding: 2px 5px;
}

hr {
	margin: 1px 0 0 0;
	clear: both;
}

.options {
	width: auto;
	float: left;
	clear: left;
	margin-top:0 ;
	/*border: 2px solid saddlebrown;*/
}

.summary {
	width: auto;
	margin-top:0 ;
	float: left;
}

.search {
	width: auto;
	float: right;
	clear: right;
	margin-top:0 ;
	color: #99154b;
	/*border: 2px solid saddlebrown;*/

}

#layout {
	background-color: white;
	margin: auto;
	width: 1000px;
	height: auto;
	position: static;
	margin-top:0 ;
}

#layoutlogin {
	background-color: white;
	margin: auto;
	width: 400px;
	height: auto;
	position: static;
	margin-top:0 ;
}

#banner {
	background: url("images/banner_bg.png") repeat-x scroll left top transparent;
	height: 90px;
	width: 1000px;
	font-style: normal;
	border: 1px solid #ccc;
	position: relative;
}
.bannerlogo {
	background: #fff url("images/rcalogo.png") no-repeat;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	font-style: normal;
	position: relative;
	margin-left: 1rem;
	margin-right: 1rem;
}

#bannerlogin {
	background: #fff url("images/rcalogo.png") no-repeat;
	height: 90px;
	width: 400px;
	font-style: normal;
	border: 1px solid #ccc;
	position: relative;
	opacity:1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}

#middles {
	height: auto;
	width: auto;
	font-style: normal;
	font-family: georgia, serif;
}

#middle {
	position: absolute;
	top: 38vw;
	left: 50%;
	transform: translate(-50%, -50%);
	height: auto;
	/*width: auto;*/
	margin-top: 1rem;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #fce8f3;
}

#nav {
	background: #fff url("images/bg_image_nav.jpg") bottom repeat-x;
	border: 1px solid #ccc;
	margin-top: 3px;
	padding: 7px 12px;
}

#navpage {
	margin-top: 5px;
	padding: 7px 12px;
}

#footer {
	color: #99154B;
	text-align: center;
	width: 1000px;
	font-size: x-small;
	height: 30px;
	font-family: georgia, serif;
	margin: auto;
}

#footerlogin {
	background: #80ADE5;
	border: 1px solid #ccc;
	/*border-bottom: 1px solid #777;*/
	color: #fff;
	text-align: center;
	width: 400px;
	font-size: x-small;
	height: 30px;
}

a {
	color: #99154B;
	cursor: pointer;
	text-decoration: none;
	padding-left: 5px;
	padding-right: 5px;
}

button, .ba {
	height: 20px;
	color: #99154B;
	cursor: pointer;
	background: #fff url("images/bg_image_nav.jpg") bottom repeat-x;
	border: 1px solid #ccc;
}

button:HOVER, .ba:hover {
	height: 20px;
	color: #fff;
	cursor: pointer;
	background: #99154B;
	border: 1px solid #ccc;
}

.text_header {
	padding: 1px0 0  35px;
	margin-top: 1px;
	width: 630px;
	font-size: 34px;
	font-weight: bolder;
	color: #99154B;
	font-variant: small-caps;
	text-align: right;
	float: right;
}

.text_header_login {
	padding: 1px0 0  35px;
	margin-top: 1px;
	width: 360px;
	font-size: 25px;
	font-weight: bolder;
	color: #99154B;
	font-variant: small-caps;
	text-align: right;
}

.right {
	padding: 1px 5px0  10px;
	width: 885px;
	font-size: 14px;
	font-weight: bolder;
	float: right;
	margin-right:0 ;
	background: #99154B;
}

.middleright {
	padding: 1px 5px0  1px;
	width: 200px;
	font-size: 12px;
	font-weight: bolder;
	float: right;
	margin-right:0 ;
}

.middleleft {
	padding: 1px 5px0 0 ;
	width: 788px;
	font-size: 12px;
	font-weight: bolder;
	float: left;
	margin-right:0 ;
}

.middleleftsearch {
	padding: 1px 5px0 0 ;
	width: 588px;
	font-size: 12px;
	font-weight: bolder;
	float: left;
	margin-right:0 ;
}

.middlerightsearch {
	padding: 1px 5px0  1px;
	width: 400px;
	font-size: 12px;
	font-weight: bolder;
	float: right;
	margin-right:0 ;
}

.display-table {
	height: auto;
	width: auto;
	font-style: normal;
	font-family: georgia;
}

/* Main menu
------------------------------------------*/
#menu {
	padding: 1rem;
	font-size: 12px;
	width: 100%;
	margin-top: 1px;
	margin-bottom: 1px;
	align-items: center;
	justify-content: space-between;
}

#menu>li>a {
	color: #99154B;
}

#menu>li:hover>a {
background: #FDF2F8;
	color: #99154B;
}

/* Submenu
------------------------------------------*/
#menu ul li a {
	color: #99154B;
}

#menu ul li:hover a {
	background: #751A3D;
	color: #fff;
}

#menu li:hover ul.noJS {
	display: block;
}

#menu,#menu ul {
	list-style: none;
	float: left;
}

#menu>li {
	float: left;
}

#menu li a {
	display: block;
	height: 2em;
	line-height: 2em;
	padding: 0 1.5em;
	text-decoration: none;
}

#menu ul {
background: #FDF2F8;
	position: absolute;
	display: none;
	z-index: 999;
}

#menu li:hover ul {
	display: block;
}

ul.secondary li a,ul.secondary li a:visited {
	background: none;
	border: 0;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

ul.secondary li.active a,ul.secondary li a:hover {
	text-decoration: underline;
}

ul.primary li.active a,ul.secondary li.active a {
	text-decoration: none;
}

/* Tabs formating
------------------------------------------*/
ul.tabs {
	border-bottom: 3px solid #99154B;
	float: left;
	list-style: none;
	margin: 0;
	overflow: auto;
	padding: 0;
	width: 100%;
}

ul.tabs li {
	float: left;
	margin: 0 2px 0 0;
	overflow: hidden;
	padding: 0;
	position: relative;
}

ul.tabs li a {
	border: none;
	display: block;
	font-size: 14px;
	outline: none;
	padding: 5px 20px;
	padding-bottom: 5px !important;
	text-decoration: none;
}

ul.tabs li a:hover {
	background: #99154B;
	color: #fff;
}

ul.tabs li.active {
	background: #99154B;
	color: #fff;
}

html ul.tabs li.active,html ul.tabs li.active a:hover,html ul.tabs li.active a
	{
	background: #99154B;
	color: #fff;
}


.container {
	margin: 10% auto 50px;
	min-width: 400px;
	max-width: 60vw;
	background-color: #ffffff;
	padding: 30px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	position: relative;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	color: #99154B;
}
#header {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
	justify-content: center;
	align-items: center;
}
.fieldset{
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	margin-left: auto;!important;
	margin-right: auto;!important;
	text-align: center;
	width: 50%;
}
.fieldset>img{
	height: 30px; !important;
	width: 30px;!important;
	border-radius: 50%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}